body {
    font-family: "Helvetica Neue";
}

.top_bar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 20px;
}

.home_button {
    background-color: rgb(0, 119, 170);
    border-color: rgb(0, 119, 170);
    border-radius: 3px;
    padding: 12px 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

