a {
    text-decoration: none;
}

a:visited {
    color: rgb(0, 119, 170);
}

a:hover {
    color: rgb(0, 60, 85);
}

.main_article {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.secondary_articles {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.l_column_main {
    flex: 50%;
}

.r_column_main {
    flex: 50%;
}

#main_img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.art_img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.l_column {
    flex: 33%;
}

.m_column {
    flex: 33%;
}

.r_column {
    flex: 33%;
}


.headline {
    font-size: 26px;
    color: rgb(0, 119, 170);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
 
.author_date {
    font-size: 14px;
    font-weight: 700;
    color: rgb(51, 51, 51);

}

.promo {
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: rgb(51, 51, 51);
}

