{% extends "base.html" %}
{% load comments %}

{% block extra_head %}
<style>
    .row {
      display: flex;
    }

    .l_column {
      flex: 75%;
    }

    .r_column {
      flex: 25%;
      margin-left: 0.5em;
    }

    .price {
      display:inline-block;
    }

    .positive {
      color: green;
      display:inline-block;
    }

    .negative {
      color: red;
      display:inline-block;
    }
</style>
{% endblock %}

{% block content %}
  <h2> {{art_stuff.headline}} </h2>
  <div class="row">
      <div class="l_column">
        <div class="author_name">
          {{art_stuff.author}}
        </div>
        <div class="pub_date">
          {{art_stuff.date}}
        </div>
        {% autoescape off %}{{ art_body }}{% endautoescape %}
        {% render_comment_list for db_article %}
        {% render_comment_form for db_article %}
      </div>
      <div class="r_column">
          <h3>Stocks</h3>
          <div class="stock_quotes">
              {% for quote in quotes %}
                <div class="quote">
                  <p>
                    <div class="co_name">{{quote.CompanyName}}</div>
                    <div class="symbol">{{quote.Exchange}}: {{quote.Symbol}}</div>
                    <div class="price">${{quote.CurrentPrice.Amount}} </div> 
                    <div class="{{quote.ChangeClass}}"> ${{quote.Change.Amount}} ({{quote.MyChange}}%) </div>
                  </p>
                </div>
              {% endfor %}
          </div>
          <button type="button" onclick="shuffle_quotes()">Shuffle Quotes</button>
      </div>
  </div>

  <script>
     function shuffle_quotes() {
        // Get quotes elements
        var quotes_wrapper = document.getElementsByClassName("stock_quotes");
        var stock_quotes = quotes_wrapper[0].children;
        var elements = document.createDocumentFragment();
 
        // Copy and shuffle quotes
        for (var arr=[],i=0; i<stock_quotes.length; ++i) arr[i]=i;
        arr = shuffle(arr);       
        arr.forEach(function(idx) {
            elements.appendChild(stock_quotes[idx].cloneNode(true));
        });

        // Replace orig quotes with shuffled quotes 
        quotes_wrapper[0].innerHTML = null;
        quotes_wrapper[0].appendChild(elements);
      }
 
      // http://stackoverflow.com/questions/962802#962890
      // Shuffle array
      function shuffle(array) {
        var tmp, current, top = array.length;
        if(top) while(--top) {
          current = Math.floor(Math.random() * (top + 1));
          tmp = array[current];
          array[current] = array[top];
          array[top] = tmp;
        }
        return array;
      }
  </script>
{% endblock %}

