{% extends "base.html" %}
{% load comments %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/articles/articles.css" />
{% endblock %}

{% block content %}
<h2> {{art_data.headline}} </h2>
<div class="row">
  <!-- Article column -->
  <div class="l_column">
    <div class="author_name">
      {{art_data.author}}
    </div>
    <div class="pub_date">
      {{art_data.date}}
    </div>
    {% autoescape off %}{{ art_data.body }}{% endautoescape %}
    {% render_comment_list for db_article %}
    <h3> What do you think? Let us know! </h3>
    {% render_comment_form for db_article %}
  </div>
  <!-- Quotes column -->
  <div class="r_column">
    <h3>Stocks</h3>
    <div class="stock_quotes">
      {% for quote in quotes %}
      <div class="quote">
        <p>
          <div class="co_name">{{quote.CompanyName}}</div>
          <div class="symbol">{{quote.Exchange}}: {{quote.Symbol}}</div>
          <div class="price">${{quote.CurrentPrice.Amount}} </div>
          <div class="{{quote.ChangeClass}}"> ${{quote.Change.Amount}} ({{quote.MyChange}}%) </div>
        </p>
      </div>
      {% endfor %}
    </div>
    <button type="button" onclick="shuffle_quotes()">Shuffle Quotes</button>
  </div>
</div>
<script src="{{ STATIC_URL }}js/articles/shuffle_quotes.js"></script>
{% endblock %}
