{% extends "base.html" %}
{% load comments %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/articles/articles.css" />
{% endblock %}

{% block content %}

<div class="headline">
  {{article.headline}} 
</div>
<div class="row">
  <!-- Article column -->
  <div class="l_column">
    <div class="author_name">
      {{article.author}}
    </div>
    <div class="pub_date">
      {{article.published_date}}
    </div>
    <div class="body">
      {% autoescape off %}{{ article.body }}{% endautoescape %}
    </div>
    <h3> Comments </h3>
    {% render_comment_list for article %}
    <h3> What do you think? Let us know! </h3>
    {% render_comment_form for article %}
  </div>
  <!-- Quotes column -->
  <div class="r_column">
    <h3>Stocks</h3>
    <div class="stock_quotes">
      {% for quote in quotes %}
      <div class="quote">
        <p>
          <div class="co_name">{{quote.company_name}}</div>
          <div class="symbol">{{quote.exchange}}: {{quote.symbol}}</div>
          <div class="price">${{quote.price}}  </div>
          <div class="{{quote.change_class}}"> 
            ${{quote.change_amount}} ({{quote.percent_change}}%) </div>
        </p>
      </div>
      {% endfor %}
    </div>
    <button type="button" onclick="shuffle_quotes()" class="shuffle_button">Shuffle Quotes</button>
  </div>
</div>
<script src="{{ STATIC_URL }}js/articles/shuffle_quotes.js"></script>
{% endblock %}
